# M5Stamp C3U defaults
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FREERTOS_HZ=1000
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# USB-serial-JTAG console
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# No WiFi/BLE needed for blinky demo
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_BT_ENABLED=n
